#main-container {
    width: 375px;
    height: 667px;
    border: 1px solid black;
    border-radius: 5%;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

#heading {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    opacity: 90%;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

#logo {
    width: 35% !important;
    margin: auto;
    display: block;
    padding-top: 1rem;
}

.input {
    margin-bottom: 0.5rem;
}

#button-signup {
    display: inline-flex;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    margin-top: 1rem;
}

#email:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

#password:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

#repeat-password:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

#to-login {
    font-size: small;
    text-align: center;
    display: inline-block;
    margin-top: 2rem;
    margin-left: 3.3rem;
}

#to-homepage {
    font-size: small;
    text-align: center;
}

.link {
    color: rgb(35, 106, 51);
    text-decoration: none;
}

.link:hover {
    font-weight: 700;
    transition: 200ms;
    color: rgb(35, 106, 51);
}
