#main-container-home {
    width: 375px;
    height: 667px;
    border: 1px solid black;
    border-radius: 5%;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

#logo-home {
    width: 60% !important;
    margin: auto;
    display: block;
    padding-top: 1rem;
}

#welcome {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    opacity: 90%;
    padding-left: 6.1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

#greeting {
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    display: block;
    padding-bottom: 2rem;
    text-align: center;
}

#logout {
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    display: block;
    padding-bottom: 1rem;
    text-align: center;
}

#logout-link {
    text-decoration: none;
    color: rgb(35, 106, 51);
    font-weight: 700;
}