#login-container {
    width: 375px;
    height: 667px;
    border: 1px solid black;
    border-radius: 5%;
    padding-left: 2em;
    padding-right: 2em;
}

#heading {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    opacity: 90%;
}

#animated-logo {
    width: 25% !important;
    margin: auto;
    display: inline-block;
    padding-top: 1rem;
    margin-bottom: 0rem;
    margin-left: 7.2rem;
}

#tagline {
    width: 45%;
    height: 10%;
    display: block;
    margin-left: 5.3rem;
    margin-top: 2rem;
}

#inputEmail3 {
    margin-bottom: 0.5rem;
}

.fw-normal {
    font-size: small;
    text-align: center;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
}

.fw-semibold {
    font-size: small;
    margin-bottom: -0.5rem;
    text-align: center;
}

#resetpassword {
    text-decoration: none;
    color: rgb(35, 106, 51);
}

#resetpassword:hover {
    font-weight: 700;
    transition: 300ms;
    color: rgb(35, 106, 51);
}

#button-login {
    display: inline-block;
    padding-left: 7.5rem;
    padding-right: 8.2rem;
    margin-top: 1rem;
}

#button-signin {
    display: inline-block;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    margin-top: 1rem;
}

#inputEmail3:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

#inputPassword6 {
    margin-bottom: 0.5rem;
    cursor: text;
}

#inputPassword6:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

#icon {
    margin-right: -16rem;
    margin-left: 16rem;
    display: inline-block;
    margin-top: -2.4rem;
    position: absolute;
    cursor: pointer;
}

.password-input {
    cursor: text;
}