.leaflet-container {
    width: 100vw;
    height: 100vh;
}

.circle-radius {
    stroke: #28a745;
    fill: #28a745;
    stroke-width: 2px;
    transition: stroke-width.5s;
}

.circle-radius:hover {
    stroke-width: 8px;
}