.leaflet-container {
    width: 100vw;
    height: 100vh;
}

.map-container {
    width: 19rem;
    height: 13rem;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 0;
}

.circle-radius {
    stroke: #28a745;
    fill: #28a745;
    stroke-width: 2px;
    transition: stroke-width.5s;
}

.circle-radius:hover {
    stroke-width: 8px;
}