#main-container {
    width: 375px;
    height: 667px;
    border: 1px solid black;
    border-radius: 5%;
    padding-top: 2em;
}

#heading {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    opacity: 90%;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}

#subheading {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-style: italic;
    opacity: 70%;
    padding-bottom: 1.5rem;
}

#logo {
    width: 30%;
    height: 25%;
    margin: auto;
    display: block;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid black;
}

#inputEmail3 {
    margin-bottom: 0.5rem;
}

#inputPassword6 {
    margin-bottom: 0.5rem;
}

#passwordHelpInline {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    padding-bottom: 0.5rem;
}

#remember-me {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

#customCheck1 {
    margin-right: 4px;
}

#button {
    display: block;
    margin-top: 1rem;
    margin-left: 7.5rem;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}